
<div class="nav">

<header>
    <div class="navtop">   

  <div class="headerbox item1">
      
      <img src="supersports.PNG" alt="supersports" height="30px" width="100%">
      
  </div>
  <div class="headerbox item2">           <img src="callout.svg" alt="callout" height="20px" width="100%"> </div>

  <div class="headerbox"> 
      <div class="navtoptext"> 

           <a href="">+45 22660077 </a>
      </div>
  </div>
  <div class="headerbox item4">  <img src="Envelope.svg" alt="envelope" height="20px" width="100%">  </div>  
  
  <div class="headerbox">
      <div class="navtoptext">
          <a href="">LOREM@IPSUM.COM</a>
      </div> 
  </div>

<div class="headerbox item6">
        
    <div class="lastitem item7">
        <img src="Basketloaded.svg" alt="envelope" height="20px" width="100%">  
    </div>
     <div class="lastitem item8">
         <div class="navtoptext">
              $ 99.54
         </div>
    </div>
    <div class="lastitem item9">
         <div class="navtoptext">
              <a href="">CHECKOUT</a>
         </div>
    </div>


</div>
    </div> 

    <div class="navline">
        <img src="divider.jpg" alt="envelope" height="1px" width="100%">  
    </div>

    <div class="navbot">  
        <div class="navbox navbox1">
            <div class="dropdown">
	
		<li> 
			<div class ="searchtext"> <a href=""> HOME </a></div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	     
        </div>           
     </div>
    
    <div class="navbox">
            <div class="dropdown">
	
		<li>
            
			<div class ="searchtext"> <a href="">MEN </a> </div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	   
        </div>  

        </div>
    <div class="navbox">
            <div class="dropdown">
	
		<li>
			<div class ="searchtext"> <a href=""> WOMEN</a> </div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	     
        </div>  
        </div>
        
    <div class="navbox">
            <div class="dropdown">
	
		<li>
			<div class ="searchtext"> <a href=""> KIDS</a> </div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	    
        </div>  
        </div>

    <div class="navbox">
            <div class="dropdown">
	
		<li>
			<div class ="searchtext"><a href=""> SALE</a> </div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	     
        </div>  
        </div>

    <div class="navbox navbox6">
            <div class="dropdown">
	
		<li>
			<div class ="searchtext"><a href=""> ABOUT US</a> </div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	    
        </div>  
        </div>

    <div class="navbox">
            <div class="dropdown">
	
		<li>
			<div class ="searchtext"> <a href="">SUPPORT</a> </div>
			<ul>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
				<li><a href="">IPSUM LOREM</a></li>
			</ul>
		</li>
	    
        </div>  
        </div>

     <div class="navbox navbox8">
            <div class="dropdown">
                <img src="magnifier.svg" alt="magnifier" height="20px" width="100%">  
        </div>  
        </div>

     <div class="navbox navbox9">
            <div class="dropdown">
                
                <input type="text" class="searchtext" value="Search...">
       
        </div>    



        
    </div>



</div>


</header>
       <div class="layer5">
    <img src="layer5.png" alt="envelope" height="20px" width="100%">  
    </div> 
</div>