
<section class="big section">

    <div class="topsection">
     <div class="detailtop">




          <div class="detailtopleft">
              <div class="leftcontainer leftitem1">
                  <div class="bigshoebox">
                  <a href=""> <img src="shoebig.PNG" alt="bigshoe" height="100%" width="100%"></a>
                  </div>
              </div>
              <div class="leftcontainer leftitem2">
                <div class="bigshoebox2">                
                 <a href=""> <img src="shoe3.PNG" alt="shoe3" height="100%" width="100%"></a>
                </div>   
              </div>
              <div class="leftcontainer leftitem2">
                <div class="bigshoebox3">                
                 <a href=""> <img src="shoe1.PNG" alt="shoe1" height="100%" width="100%"></a>
                </div>   
              </div>
              <div class="leftcontainer leftitem2">
                <div class="bigshoebox4">                
                 <a href=""> <img src="shoe2.PNG" alt="shoe2" height="100%" width="100%"></a>
                </div> 
              </div>         
          </div>




          <div class="detailtopright">
               <div class="rightcontainer rightitem1">
                <div class="detailshoetitle">
                  GEL-FUJUTRABUCO 5 G-TX
                </div>
              </div>
              <div class="rightcontainer rightitem2">
                  <a href=""> <img src="brandlogo.PNG" alt="brandlogo" height="100%" width="55%"></a>
              </div>
              <div class="rightcontainer rightitem3">
                  <div class="pricetext">
                 <strong> kr 974.90 </strong>
                  </div>
              </div>
              <div class="rightcontainer rightitem4">
                  <div class="pricesave">
                  kr 1115.24<br>
                  <i>You Save 15.00%</i>
                  </div>
              </div>   
              <div class="rightcontainer rightitem5"> 
                   <div class="sizetext">                
                        <strong>Size</strong>
                    </div>
                </div>
                
              <div class="rightcontainer rightitem6">
                  <div class="amounttext">
                      <strong>Amount </strong></div>
                     </div>
              
               <div class="rightcontainer rightitem5"> 
                   <div class="shoesize">
                   EU 45 Black
                   </div>
               </div>
                
              <div class="rightcontainer rightitem7">
                  <div class="numberamount">
                      <strong>1 </strong>
                    </div>
              </div>         

            <div class="rightcontainer rightitem4">
               <a href="#"> <input type="button" class="detailbutton" value="BUY NOW"> </a>


                </div>               
          </div>







     </div>
    </div>
</section>