<section class="contact section">

<div class="contactbox">
  <div class="contactflex contact1"> <strong> CONTACT US </strong> </div>
  <div class="contactflex contact2"> NAME: </div>
  <div class="contactflex contact3"> <input class="contactinput" type="text" value="YOUR NAME...">  </div> 
  <div class="contactflex contact2">EMAIL:</div> 
  <div class="contactflex contact3"><input class="contactinput" type="text" value="YOUR E-MAIL..."> </div> 
  <div class="contactflex contact4">MESSAGE:</div> 
  <div class="contactflex contact5">  <textarea cols="25" rows="7"> YOUR TEXT...</textarea> </div>
  <div class="contactflex contact7"> <input type="button" class="contactbutton" value="SEND MESSAGE">  </div>
</div>

<div class="contactbotbox">

</div>

</section>