<section class="mainsection">

<body>






<div class="section">

<section class="sectiontwo">
    <div class="sectiontop">

        <div class="shoerow"> 
             <a href=""> <img src="yellowshoes.PNG" alt="yellowshoes" height="250" width="100%"></a>
            <div class="rowshoetext">
                <div class=rowshoetitle>
                    FOOTBALL SHOES
                    </div>
                <div class="rowitemtext">
                    Lorem ipsum dolor sit amet, ius nobis ridens et, vis id nihil vocent interpretaris. 
                    Case error viris no pro, in pri doming partiendo aliquando...
                </div>
            </div>
        </div>


        <div class="shoerow"> 
            <a href=""> <img src="shirt.PNG" alt="shirt" height="250" width="100%"></a>
            <div class="rowshoetext">
               <div class="rowshoetitle"> <u>MODERN CLOTHES</u> 
                    </div>
                <div class="rowitemtext">
                    Lorem ipsum dolor sit amet, ius nobis ridens et, vis id nihil vocent interpretaris. 
                    Case error viris no pro, in pri doming partiendo aliquando...
                </div>
            </div>
        </div>
        <div class="shoerow"> 
            <a href=""><img src="bag.PNG" alt="bag" height="250" width="100%"></a>
            <div class="rowshoetext">
                <div class="rowshoetitle"> BAGS & ACCSOCIRES </div>
                <div class="rowitemtext">
                    Lorem ipsum dolor sit amet, ius nobis ridens et, vis id nihil vocent interpretaris. 
                    Case error viris no pro, in pri doming partiendo aliquando...
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sectionthree">
    <div class="container-div">
	        <div class="h2-text-container"> 
                <h2 class="h2-text"><span> POPULAR PRODUCT </span>
                </h2>
            </div>
	</div>




    <div class="sectionbot">
        
        <descriptionlist>
        </descriptionlist>


    </div>

</section>


</div>


</body>

</section>